{
    "rules": {
        "no-console": 1,
        "no-irregular-whitespace": 1,
        "valid-jsdoc": 2,

        "complexity": [
            2,
            10
        ],
        "curly": 2,
        "dot-location": [
            2,
            "property"
        ],
        "eqeqeq": 2,
        "no-caller": 2,
        "no-extend-native": 2,
        "no-iterator": 2,
        "no-loop-func": 2,
        "no-multi-spaces": 2,
        "no-multi-str": 2,
        "no-new-func": 2,
        "no-proto": 2,
        "no-script-url": 2,
        "no-with": 2,
        "wrap-iife": [
            2,
            "any"
        ],

        "strict": [
            2,
            "global"
        ],

        "no-shadow": 2,

        "array-bracket-spacing": [
            2,
            "always"
        ],
        "block-spacing": 2,
        "brace-style": 2,
        "camelcase": 2,
        "comma-spacing": 2,
        "comma-style": 2,
        "computed-property-spacing": 2,
        "eol-last": 2,
        "indent": [
            2,
            4,
            { "SwitchCase": 1 }
        ],
        "key-spacing": 2,
        "linebreak-style": ["error", "windows"],
        "max-depth": [
            2,
            3
        ],
        "max-len": [
            2,
            120
        ],
        "max-params": [
            2,
            5
        ],
        "max-statements": [
            2,
            30
        ],
        "new-cap": 2,
        "new-parens": 2,
        "no-array-constructor": 2,
        "no-bitwise": 2,
        "no-multiple-empty-lines": [
            2,
            { "max": 1 }
        ],
        "no-lonely-if": 2,
        "no-unneeded-ternary": 2,
        "no-new-object": 2,
        "no-spaced-func": 2,
        "no-trailing-spaces": 2,
        "object-curly-spacing": [
            2,
            "always"
        ],
        "one-var": [
            2,
            "never"
        ],
        "operator-linebreak": 2,
        "quotes": [
            2,
            "single"
        ],
        "quote-props": [
            2,
            "as-needed"
        ],
        "semi": 2,
        "semi-spacing": 2,
        "space-before-blocks": 2,
        "space-before-function-paren": [
            2,
            {
                "anonymous": "always",
                "named": "never"
            }
        ],
        "space-in-parens": 2,
        "space-infix-ops": 2,
        "space-unary-ops": 2,
        "spaced-comment": 2,
        "yoda": 2,

        "consistent-this": 2
    },
    "env": {
        "node": true,
        "es6": true
    },
    "extends": [
        "eslint:recommended"
    ],
    "globals": {
        "angular": true,
        "inject": true
    }
}
